.home-box{
    position: relative   !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 40px !important;
    .segment{
        height: 80px !important;
        display: flex;
        align-content: center;
        position: relative !important;
    }
    .option-1{
        margin-top: 8px !important;
        margin-left: 170px !important;
        background-color: white !important;
    }
    .option-2{
        margin-top: 8px !important;
        position: absolute;
        top: 15px;
        right: 50px;
    }
    Button{
        margin-left: 0 !important;
    }
}
.issue{
    width: 100% !important;
}
.card-content-1{
    display: flex !important;
    flex-direction: row !important;
    position: relative !important;
    .fa-plus{
        color: red;
        font-size: 24px;
        margin-left: 10px !important;
        margin-right: 15px !important;
        &:hover{
            cursor: pointer;
        }
    }
    .fa-minus{
        color: red;
        font-size: 24px;
        margin-left: 10px !important;
        margin-right: 15px !important;
        &:hover{
            cursor: pointer;
        }
    }
    .header{
        font-size: 14px !important;
        font-weight: bold !important;
    }
    .fa-reply{
        color: red;
        font-size: 24px;
        position: absolute;
        right: 15px;
        &:hover{
            cursor: pointer;
        }
    }
}
.description{
    font-size: 18px !important;
}
.large{
    height: fit-content !important;
}
.date{
    color: black !important;
    font-weight: bolder !important;
}
.date-format{
    font-size: 14px;
    margin-left: 10px;
}

.segment{
    height: fit-content !important;
    width: 100% !important;
}

