.issue-box{
    position: relative   !important;
    margin-top: 40px !important;
    .main-issue-box{
        width: 900px !important;
        position: relative;
         .fa-plus{
             position: absolute;
             color: red;
             font-size: 24px;
             margin-top: 8px !important;
             right: 15px !important;
             &:hover{
                 cursor: pointer;
                 transform: scale(1.2);
             }
         }
         .fa-minus{
            position: absolute;
            color: red;
            font-size: 24px;
            margin-top: 8px !important;
            right: 15px !important;
            &:hover{
                cursor: pointer;
                transform: scale(1.2);
            }
        }
         .small-divider{
             margin-top: 60px !important;
         }
        .issue-head{
            width: 900px !important;
            position: relative !important;
            border-bottom: 1px solid red !important;
            .issue-edit{
                position: absolute;
                height: 25px;
                width: 25px;
                right: 20px;
                &:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
            .fa-bars{
                position: absolute;
                font-size: 20px;
                right: 25px;
                &:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }   
            }
            .issue-head-header{
                width: inherit;
                min-height: 200px !important;
                max-width: 900px !important;
                height: fit-content !important;
                position: relative !important;
                background-color: rgba(255, 0,0, 0.6);
                padding-bottom: 0 !important;
                .update{
                    width: 900px !important;
                    height: 100% !important;
                    display: flex;
                    margin-top: -30px;
                    border: 3px solid red;
                    margin-left: -14px !important;
                   .update-form{
                    width: 100% !important;
                    position: relative !important;
                    .form-submit{
                     position: absolute !important;
                     top: -60px !important;
                     right: 10px !important;
                     background-color: red !important;
                     &:hover{
                         transform: scale(1.1);
                         cursor: pointer;
                     }
                 } 
                 .close{
                     height: 36px;
                     width: 36px;
                     border-radius: 5px;
                     background-color: black;
                     position: absolute;
                     top: -60px !important;
                     right: 140px !important;
                     display: flex;
                     .fa-times{
                         font-size: 24px;
                         color: white;
                         margin: auto;
                     }
                     &:hover{
                         transform: scale(1.1);
                         cursor: pointer;
                     }
                 }
                   }
                 }
            }
            .extra-card{
                display: flex !important;
                flex-direction: row !important;
                align-content: center;
                position: relative !important;
                .time{
                    position: absolute !important;
                    right: 100px;
                    display: flex;
                    flex-direction: row;
                }
            }
        }
        .comment-form{
            height: fit-content !important;
             position: relative !important;
            width: 900px !important;
            margin-bottom: 20px !important;
            .create-comment{
                position: absolute !important;
                right: 10px;
                bottom: 10px;
                background-color: red;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        .issue-comment{
            width: 900px !important;
            border-bottom: 1px solid #FFF4D1;
            .comment-body{
                height: fit-content !important;
                background-color: #FFF4D1 !important;
            }
            .extra{
                height: 80px !important;
                position: relative;
                .userimg{
                    position: absolute !important;
                    right: 130px !important;
                    top: 30px !important;
                    font-size: 30px !important;
                    color: black !important;
                }
                .member{
                    position: absolute;
                    right: 65px;
                    top: 40px;
                }
                .name{
                    position: absolute;
                    right: 80px;
                    top: 15px;
                }
                .time{
                    position: absolute;
                    bottom: 5px;
                }
            }
        }
    }
}


.settings{
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: 100%;
    .close{
        position: absolute;
        top: 20%;
        left: 70%;
        .fa-times{
            font-size: 50px;
            color: white;
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }

    .setting-box{
        
        height: 200px;
        width: 800px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        top: 35%;
        margin-top: -70px;
        left: 50%;
        margin-left: -400px;
        .delete{
            position: relative;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            background-color: #CD5C5C;
            align-self: center;
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
            .fas{
                font-size: 40px;
                position: absolute;
                top: 50%;
                margin-top: -20px;
                left: 50%;
                margin-left: -16px;
                color: white;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
        .update{
            position: relative;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            background-color: #CD5C5C;
            align-self: center;
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
            .fas{
                font-size: 40px;
                position: absolute;
                top: 50%;
                margin-top: -20px;
                left: 50%;
                margin-left: -16px;
                color: white;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
        .important{
            position: relative;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            background-color: white;
            align-self: center;
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
            .far{
                font-size: 40px;
                position: absolute;
                top: 50%;
                margin-top: -20px;
                left: 50%;
                margin-left: -16px;
                color: #CD5C5C;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
        .project{
            position: relative;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            background-color: #CD5C5C;
            align-self: center;
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
            .fas{
                font-size: 40px;
                position: absolute;
                top: 50%;
                margin-top: -20px;
                left: 50%;
                margin-left: -16px;
                color: white;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
        .line{
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #CD5C5C;
            bottom: 0;
        }
    }
    .second-box{
        height: 300px;
        width: 800px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 35%;
        margin-top: 120px; 
        left: 50%;
        margin-left: -400px;   
        .type{
            margin-left: 120px;
            width: 70%;
            height: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            button{
                align-self: center;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: white;
                color: red;
                &:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }
        .status{
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: row;  
            justify-content: center;
            button{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                align-self: center;
                background-color: white;
                color: red;
                &:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }  
        }
    }
    .selected{
        background-color: #CD5C5C !important;
        color: white !important;
    }
}

