.mypage-box{
    position: relative   !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 40px !important;
    .project-container{
        padding-left: 120px;
    }
}