.navbar{
    background-color: red !important;
    border-radius: 0 !important;
    color: white !important;
    margin: 0 !important;
    height: 43px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    #search{
        background-color: #fff !important;
        opacity: 0.3 !important;
    }
    .fas{
        color: white;
        font-size: 18px;
    }
}