        .box{
        display: flex;
        flex-direction: row;
        .left-card-box{
            flex: 1;
            padding-left: 60px;
        }
        .right-card-box{
            flex: 1;
            padding-left: 60px;
       }
    }
    .user-card{
        height: 300px !important;
        width: 400px !important;
        .fa-pen{
            position: absolute;
            right: 30px;
            top: 30px;
            font-size: 24px;
            color: white;
            &:hover{
                transform: scale(1.2);
                cursor: pointer;
            }
        }
        .fa-times{
            position: absolute;
            right: 30px;
            top: 30px;
            font-size: 30px;
            &:hover{
                transform: scale(1.2);
                cursor: pointer;
            }   
        }
        .links{
            position: absolute;
            top: 30px;
            right: 10px;
            display: flex;
            flex-direction: column;
            align-content: space-evenly;
        }
        .avatar-box{
            width: 400px !important;
            height: 200px !important;
            .avatar{
                width: 100% !important  ;
                height: 100% !important;
            }
            .flex-box{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .boss{
                    border-radius: 50%;
                    height: 100px;
                    width: 100px;
                    margin-top: 14%;
                    border: 2px solid red;
                    .fa-crown{
                       font-size: 30px;
                       color: red;
                       position: relative;
                       left: 31%;
                       top: 33%;
                    }
                    &:hover{
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                    
                }
                .boss-acitve{
                    border-radius: 50%;
                    height: 100px;
                    width: 100px;
                    margin-top: 14%;
                    border: 2px solid red;
                    background-color: red;
                    .fa-crown{
                       font-size: 30px;
                       color: white;
                       position: relative;
                       left: 31%;
                       top: 33%;
                    }
                    
                }
                .block{
                    border-radius: 50%;
                    height: 100px;
                    width: 100px;
                    margin-top: 14%;
                    border: 2px solid red;
                    .fa-unlock{
                       font-size: 30px;
                       color: red;
                       position: relative;
                       left: 35%;
                       top: 33%;
                    }
                    &:hover{
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }
                .block-active{
                    border-radius: 50%;
                    height: 100px;
                    width: 100px;
                    margin-top: 14%;
                    border: 2px solid red;
                    background-color: red;
                    .fa-lock{
                       font-size: 30px;
                       color: white;
                       position: relative;
                       left: 35%;
                       top: 33%;
                    }   
                }
            }
        }
    }

    .fa-id-card{
        position: absolute;
        right: 20px;
        font-size: 30px;
        top: 240px;
        color: black;
    }